<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heart Disease Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <div class="header-container">
      <h1>Welcome</h1>
        <nav>
            <a href="/">Landing</a>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/risk">Risk Prediction</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/story">Story</a>
            <a href="/team">Team</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="hero-content">
        <h2>Heart Disease Analysis System</h2>
        <p>
            Machine Learning–based system for analyzing heart disease risk
            using clinical health parameters.
        </p>
        <a href="/home" class="btn">Get Started</a>
    </div>
</section>

<footer>
    © 2026 Heart Disease Analysis
</footer>

</body>
</html>


