<!DOCTYPE html>
<html lang="en">
<head>
    <title>Risk Prediction | Heart Disease Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <div class="header-container">
        <h1>Welcome</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/risk">Risk Prediction</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/story">Story</a>
            <a href="/team">Team</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>


<section class="contact-wrapper">

    <!-- LEFT SIDE FORM -->
    <div class="contact-container">

        <h2>Heart Disease Risk Checker</h2>

        <p class="contact-subtext">
            Enter health parameters to estimate the risk level of heart disease.
        </p>

        <form class="Risk-form" action="/calculate_risk" method="POST">

            <input type="number" name="age" placeholder="Age" required>

            <select name="gender" required>
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <input type="number" name="cholesterol" placeholder="Cholesterol Level" required>

            <input type="number" name="blood_pressure" placeholder="Blood Pressure" required>

            <input type="number" name="heart_rate" placeholder="Maximum Heart Rate" required>

            <button type="submit" class="btn">Check Risk</button>

        </form>

      {% if prediction %}
<div class="result-box
{% if 'Low' in prediction %}low-risk
{% elif 'Moderate' in prediction %}moderate-risk
{% else %}high-risk
{% endif %}">
{{ prediction }}
</div>
{% endif %}

    </div>


    <!-- RIGHT SIDE IMAGE -->
    <div class="contact-image">
        <img src="{{ url_for('static', filename='Heart1.jpg') }}" 
        alt="Heart Disease Illustration">
    </div>

</section>


<footer>
    © 2026 Heart Disease Analysis
</footer>

</body>
</html>



