<!DOCTYPE html>
<html>
<head>
    <title>Team</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="header-container">
        <h1>Welcome</h1>
       <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/risk">Risk Prediction</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/story">Story</a>
    <a href="/team">Team</a>
    <a href="/contact">Contact</a>
</nav>

    </div>
</header>

<section class="team-section">
    <h2>Our Team</h2>
    <p>Research & Development Team for Heart Disease Analysis</p>

    <div class="team-grid">

        <div class="team-card">
            <img src="static/rohi.jpg">
            <h3>Mahipathi Rohitha Priya Sai Lakshmi</h3>
            <span>Team Leader</span>
            <p>B.Tech CSE (AI&ML)</p>
            <a class="linkedin" href="https://www.linkedin.com/in/mahipathi-rohitha-priya-sai-lakshmi-1706972aa/">in</a>
        </div>

        <div class="team-card">
            <img src="static/vamsik.jpg">
            <h3>Kakarla Vamsidhar</h3>
            <span>Team Member</span>
            <p>B.Tech CSE (AI&ML)</p>
            <a class="linkedin" href="https://www.linkedin.com/in/vamsidhar-kakarla-183ba9281">in</a>
        </div>

        <div class="team-card">
            <img src="static/Gopi.jpeg">
            <h3>Koka Gopi Raju</h3>
            <span>Team Member</span>
            <p>B.Tech CSE (AI&ML)</p>
            <a class="linkedin" href="https://www.linkedin.com/in/koka-gopi-raju-3826003ab?utm_source=share_via&utm_content=profile&utm_medium=member_android">in</a>
        </div>

        <div class="team-card">
            <img src="static/Sai Kalyan.jpeg">
            <h3>Ontipuli Sai Kalyan</h3>
            <span>Team Member</span>
            <p>B.Tech CSE (AI&ML)</p>
            <a class="linkedin" href="https://www.linkedin.com/in/sai-kalyan-aab67a398?utm_source=share_via&utm_content=profile&utm_medium=member_ios">in</a>
        </div>

    </div>
</section>

<footer>
    © 2026 Heart Disease Analysis
</footer>

</body>
</html>





